<% provide(:title, current_user.name) %>

<h1>タスク詳細</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-bordered" id="table-task">
      <tbody>
        <tr>
          <th class="active col-md-2">ID</th>
          <td class="col-md-10"><%= @task.id %></td>
        </tr>
        <tr>
          <th class="active col-md-2">名称</th>
          <td class="col-md-10"><%= @task.name %></td>
        </tr>
        <tr>
          <th class="active col-md-2">詳細</th>
          <td class="col-md-10">
            <%= content_url_to_link(@task.content).html_safe %>
          </td>
        </tr>
        <tr>
          <th class="active col-md-2">作成日</th>
          <td class="col-md-10"><%= l(@task.created_at, format: :long) %></td>
        </tr>
        <tr>
          <th class="active col-md-2">更新日</th>
          <td class="col-md-10"><%= l(@task.updated_at, format: :long) %></td>
        </tr>
      </tbody>
    </table>
    <div>
      <%= link_to "編集", edit_user_task_path(@user, @task), class: "btn btn-lg btn-success" %>
      <%= link_to "削除", user_task_path(@user, @task), method: :delete,
                  data: { confirm: "削除してよろしいですか？" }, class: "btn btn-lg btn-danger" %>
    </div>
  </div>
</div>